<footer class="bg-blue-900 text-white mt-16">
  <div class="max-w-7xl mx-auto px-4 py-12 mb:flex mb:flex-row">
    <!-- GRID PRINCIPAL -->
    <div class="grid gap-2 grid-cols-2 lg:grid-cols-4">
      <div>
        <h2 class="font-semibold text-lg mb-4 text-blue-950">
          Vizinho de Aluguel
        </h2>
        <p class="text-blue-100 text-sm">
          Conectando você aos melhores profissionais de serviços domésticos em
          Florianópolis.
        </p>
      </div>

      <div class="flex flex-col">
        <h3 class="font-semibold mb-4 text-blue-950">Links Rápidos</h3>
        <ul class="space-y-2 text-sm text-blue-100">
          <li><a href="#" class="hover:underline">Encontrar Serviços</a></li>
          <li><a href="#" class="hover:underline">Seja um Profissional</a></li>
          <li><a href="#" class="hover:underline">Sobre a Plataforma</a></li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h3 class="font-semibold mb-4 text-blue-950">Institucional</h3>
        <ul class="space-y-2 text-sm text-blue-100">
          <li><a href="#" class="hover:underline">Termos de Uso</a></li>
          <li>
            <a href="#" class="hover:underline">Política de Privacidade</a>
          </li>
          <li><a href="#" class="hover:underline">Código de Conduta</a></li>
        </ul>
      </div>

      <div>
        <h3 class="font-semibold mb-4 text-blue-950">Contato</h3>
        <ul class="space-y-2 text-sm text-blue-100">
          <li>📍 Florianópolis, SC - Brasil</li>
          <li>📞 (48) 3000-0000</li>
          <li>✉ contato@vizinhodealuguel.com.br</li>
        </ul>
      </div>
    </div>

    <!-- Linha inferior -->
    <div
      class="border-t border-blue-800 mt-12 pt-6 text-center text-sm text-blue-200"
    >
      © 2026 Vizinho de Aluguel - Florianópolis.
    </div>
  </div>
</footer>
