{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {% include "partials/header.html" %}

    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}

    <!-- É melhor deixar o script de animar botão do header mobile aqui -->
    <script>
      const menuBtn = document.getElementById("menuBtn");
      const mobileMenu = document.getElementById("mobileMenu");

      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("max-h-0");
        mobileMenu.classList.toggle("max-h-screen");
      });
    </script>

    <script src="{% static 'js/auth.js' %}"></script>

</body>
</html>